<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Climate Change</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<style>
  /*
  body {
    background-image: url('https://images.unsplash.com/photo-1445999794508-1e24b2f535ab?ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  */
</style>

<body>
  {% block main %}{% endblock %}

  {% block footer %}
  <footer>
    <span>&copy; Copyright 2020</span>
  </footer>
  {% endblock %}

  {% block script %}{% endblock %}
</body>

</html>