{% extends 'base.html' %}

{% block title %}{{ country.country_name }}{% endblock %}

{% block main %}
<h5>Hello {{ country.country_name }}!</h5>

{% for block in info %}
<p>{{block['year']}}: {{block['amount']}}</p>

{% endfor %}
<div id="chart"></div>

{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script type='text/javascript'>
  const original = JSON.parse('{{ data|safe }}');
  console.log(original);
  const carbonData = original['co2EmissionByCode'];
  console.log(carbonData);
  var i = 0;
  var data = {};
  data["year"] = [];
  data["amount"] = [];
  for (; i < carbonData.length; i++ ){
    data['year'].push(carbonData[i]['year']);
    data['amount'].push(carbonData[i]['amount']);
  };
  console.log(data['year']);
  console.log(data['amount']);
  console.log("done");

  var list = [];
  for (var i = 0; i < data['year'].length; i++){
    list.push({x: data['year'][i], y: data['amount'][i]})
    console.log("added");
  }
  console.log(list);

  for (var i = 0; i < list.length; i++){
    //console.log(list[i]['x'])
    //console.log(list[i]['y'])
  }

  // D3 Chart

  var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

  var svg = d3.select("#chart")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scaleLinear()
      .domain([d3.min(data['year']), d3.max(data['year'])])
      .range([ 0, width ]);
    xAxis = svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))

    var y = d3.scaleLinear()
      .domain([0, d3.max(data['amount']) + (0.1 * d3.max(data['amount']))])
      .range([ height, 0 ]);
    yAxis = svg.append("g")
      .call(d3.axisLeft(y));

    var clip = svg.append("defs").append("svg:clipPath")
        .attr("id", "clip")
        .append("svg:rect")
        .attr("width", width )
        .attr("height", height )
        .attr("x", 0)
        .attr("y", 0);

    var brush = d3.brushX()                   // Add the brush feature using the d3.brush function
        .extent( [ [0,0], [width,height] ] )  // initialise the brush area: start at 0,0 and finishes at width,height: it means I select the whole graph area
        .on("end", updateChart)               // Each time the brush selection changes, trigger the 'updateChart' function

    var line = svg.append('g')
      .attr("clip-path", "url(#clip)")

    line.append("path")
      .datum(list)
      .attr("class", "line")  // I add the class line to be able to modify this line later on.
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .x(function(d){ return x(d.x); })
        .y(function(d){ return y(d.y); }));


    line
    .append("g")
      .attr("class", "brush")
      .call(brush);

    var idleTimeout
    function idled() { idleTimeout = null; }

    function updateChart() {

      // What are the selected boundaries?
      extent = d3.event.selection

      // If no selection, back to initial coordinate. Otherwise, update X axis domain
      if(!extent){
        if (!idleTimeout) return idleTimeout = setTimeout(idled, 350); // This allows to wait a little bit
        x.domain([ 4,8])
      }else{
        x.domain([ x.invert(extent[0]), x.invert(extent[1]) ])
        line.select(".brush").call(brush.move, null) // This remove the grey brush area as soon as the selection has been done
      }

      xAxis.transition().duration(1000).call(d3.axisBottom(x))
      line
          .select('.line')
          .transition()
          .duration(1000)
          .attr("d", d3.line()
            .x(function(d){ return x(d.x); })
            .y(function(d){ return y(d.y); }))
    }

    svg.on("dblclick",function(){
      x.domain(d3.extent(data, function(d) { return d.date; }))
      xAxis.transition().call(d3.axisBottom(x))
      line
        .select('.line')
        .transition()
        .attr("d", d3.line()
          .x(function(d){ return x(d.x); })
          .y(function(d){ return y(d.y); }))
    });

  /*
  for (i = 0, i < data.length; i++) {
    console.log(data[i]);
  };
  */
</script>

{% endblock %}
