{% extends 'base.html' %}

{% block style %}
<style>

  html {
    scroll-snap-type: x none;
    scroll-snap-type: y mandatory;
    background-color: #ffffff;
    color: #ffffff;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
  }

  section {
    background-color: #e1e1e1;
    color: #000000;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
  }

  .inner-section {
    background-color: #e1e1e1;
    width: 85%;
    height: 85%;
    transform: translateY(10%);
    margin: auto;
    -webkit-box-shadow: 0 8px 6px -6px #cccccc;
    -moz-box-shadow: 0 8px 6px -6px #cccccc;
    box-shadow: 0 8px 6px -6px #cccccc;
  }

  .heading {
    background-color: #c7c7c7;
    color: #000000;
    padding: 15px;
    font-weight: bolder;
    -webkit-box-shadow: 0 4px 3px -3px #cccccc;
    -moz-box-shadow: 0 4px 3px -3px #cccccc;
    box-shadow: 0 4px 3px -3px #cccccc;
  }

  .description {
    padding: 15px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 80%;
    width: 70%;
    font-size: 24px;
  }
</style>

{% endblock %}

{% block title %}{{ country.country_name }}{% endblock %}

{% block main %}
<center>
<div class="inner-section">
  <h1 class="heading">{{country.country_name}}</h1>
<h5> <div id="title"> </div>  </h5>
</div>
</center>
{% for block in info %}
<p>{{block['year']}}: {{block['amount']}}</p>

{% endfor %}

<div id="chart"></div> <br>

<center>
  <a href="/">
    <button type="button" class="btn btn-outline-primary">Back to Main </button>
  </a>
  <button id="transition" class="btn btn-outline-dark"> Next </button>
 </center>
<br>
<br>

{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-format.v1.min.js"></script>
<script type='text/javascript'>
  const original = JSON.parse('{{ data|safe }}');
  console.log(original);
</script>
<script src="{{ url_for('static', filename='assets/min/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/min/versor.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/min/topojson.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/country.js') }}"></script>
{% endblock %}
