{% extends 'base.html' %}

{% block style %}
<style>
  html {
    scroll-snap-type: x none;
    scroll-snap-type: y mandatory;
    background-color: #ffffff;
    color: #ffffff;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
  }

  section {
    background-color: #fafafa;
    color: #000000;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
  }

  .inner-section {
    background-color: #ffffff;
    width: 85%;
    height: 90%;
    transform: translateY(5%);
    margin: auto;
    -webkit-box-shadow: 0 8px 6px -6px #cccccc;
    -moz-box-shadow: 0 8px 6px -6px #cccccc;
    box-shadow: 0 8px 6px -6px #cccccc;
  }

  .heading {
    background-color: #c7c7c7;
    color: #000000;
    padding: 15px;
    font-weight: bolder;
    -webkit-box-shadow: 0 4px 3px -3px #cccccc;
    -moz-box-shadow: 0 4px 3px -3px #cccccc;
    box-shadow: 0 4px 3px -3px #cccccc;
  }

  .description {
    padding: 15px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 80%;
    width: 70%;
    font-size: 24px;
  }

  #globe {
    cursor: move;
  }

  #mini-globe {
    cursor: pointer;
  }

  #searchCountry {
    z-index: 1;
    position: relative;
  }

  #searchCountry {
    border-radius: 5px;
    border: none;
    padding: 5px;
  }

  #searchResult {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    list-style-type: none;
    -webkit-box-shadow: 0 0 3px -3px #cccccc;
    -moz-box-shadow: 0 0 3px -3px #cccccc;
    box-shadow: 0 0 3px -3px #cccccc;
  }

  .subheading {
    color: #ffffff;
    background-color: #6002ee;
    font-weight: bolder;
    -webkit-box-shadow: 0 0 3px -3px #cccccc;
    -moz-box-shadow: 0 0 3px -3px #cccccc;
    box-shadow: 0 0 3px -3px #cccccc;
  }
</style>
{% endblock %}

{% block title %}Home{% endblock %}

{% block main %}
<section>
  <div class="inner-section">
    <div class="heading">
      <h1>Climate Change is Real</h1>
      <input type="text" id="searchCountry" class="mb-1" placeholder="Search for a country">
    </div>
    <div class="description">
      <ul id="searchResult"></ul>
      <p>
        Welcome to our data visualization for climate change analysis around the world using data made available by the
        <a href="https://data.worldbank.org/topic/climate-change">World Bank</a>!
      </p>
      <div id="mini-globe"></div>
      <a href="#the-globe" class="btn btn-outline-primary mt-3" role="button" aria-pressed="true">Interactive Globe</a>
    </div>
    <a href="#world-stats" class="text-dark">
      <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg" style="font-size: 2em;">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
          clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</section>
<section id="world-stats">
  <div class="inner-section">
    <h1 class="heading">Statistics About Climate Change</h1>
    <div class="description">
      <div id="world-graph"></div>
    </div>
    <a href="#the-globe" class="text-dark">
      <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg" style="font-size: 2em;">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
          clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</section>
<section id="the-globe">
  <div id="globe"></div>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='assets/min/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/min/versor.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/min/topojson.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/world.js') }}"></script>
<script src="{{ url_for('static', filename='assets/globe.js') }}"></script>
<script src="{{ url_for('static', filename='assets/search.js') }}"></script>
{% endblock %}